# Copyright (c) 2024 Texas Instruments Incorporated
#
# SPDX-License-Identifier: Apache-2.0

if TI_MCUMGR_BT_OTA_DFU
  config MCUMGR_TRANSPORT_NETBUF_SIZE
    default 550
  config BT_L2CAP_TX_MTU
    default 65
endif # TI_MCUMGR_BT_OTA_DFU
