# Copyright (c) 2024 Texas Instruments Incorporated
#
# SPDX-License-Identifier: Apache-2.0

if TI_MCUMGR_BT_OTA_DFU
	config MCUMGR_TRANSPORT_NETBUF_SIZE
		default 550
	config BT_L2CAP_TX_MTU
		default 65
endif # TI_MCUMGR_BT_OTA_DFU

if BT_MESH
	config BT_HOST_CRYPTO_PRNG
		default n

	config BT_CTLR_CRYPTO
		default y

	config BT_HOST_CRYPTO
		default y

if BT_MESH_FRIEND
	config BT_MESH_FRIEND_ADV_LATENCY
		default 10
endif # BT_MESH_FRIEND

if BT_MESH_LOW_POWER
	config BT_MESH_LPN_SCAN_LATENCY
		default 6

	config BT_MESH_GATT_PROXY
		default n

	config BT_MESH_PRIV_BEACONS
		default n

	config BT_MESH_BEACON_ENABLED
		default n

	config BT_MESH_RELAY
		default n

	config BT_MESH_FRIEND
		default n

endif # BT_MESH_LOW_POWER
endif # BT_MESH
