# Copyright (c) 2024 Texas Instruments Incorporated
#
# SPDX-License-Identifier: Apache-2.0

rsource "../lpf3_common/Kconfig.defconfig"

if BOARD_LP_EM_CC2340R53


if BT

config ZEPHYR
  bool
  default y

config BT_LL_HEAP_SIZE
  hex
  default 0x1800

config BT_HCI_ACL_FLOW_CONTROL
  default n

endif # BT

endif # BOARD_LP_EM_CC2340R53
