/*
 * Copyright (c) 2026 Conclusive Engineering
 * Copyright (c) 2026 Texas Instruments
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/gpio/arduino-header-r3.h>

/ {
	chosen {
		zephyr,display = &st7789v_st7789v_waveshare_240x320;
	};

	pointer {
		compatible = "zephyr,lvgl-pointer-input";
		input = <&input_pointer>;
		display = <&st7789v_st7789v_waveshare_240x320>;
		invert-x;
		invert-y;
	};

	mipi_dbi_st7789v_waveshare_240x320: mipi_dbi_st7789v_waveshare_240x320 {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&arduino_spi>;
		dc-gpios = <&arduino_header ARDUINO_HEADER_R3_D9 GPIO_ACTIVE_HIGH>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		st7789v_st7789v_waveshare_240x320: st7789v@0 {
			compatible = "sitronix,st7789v";
			mipi-max-frequency = <24000000>;
			reg = <0>;
			width = <240>;
			height = <320>;
			x-offset = <0>;
			y-offset = <0>;
			vcom = <0x28>;
			gctrl = <0x35>;
			vrhs = <0x0b>;
			vdvs = <0x20>;
			mdac = <0x00>;
			gamma = <0x01>;
			colmod = <0x55>;
			lcm = <0x3c>;

			porch-param = [0c 0c 00 33 33];
			cmd2en-param = [5a 69 02 01];
			pwctrl1-param = [a4 a1];
			pvgam-param = [d0 01 08 0f 11 2a 36 55 44 3a 0b 06 11 20];
			nvgam-param = [d0 02 07 0a 0b 18 34 43 4a 2b 1b 1c 22 1f];
			ram-param = [00 f0];
			rgb-param = [cd 08 14];
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
		};
	};
};

arduino_spi: &spi0 {
	status = "okay";

	cs-gpios = <&arduino_header ARDUINO_HEADER_R3_D10 GPIO_ACTIVE_LOW>,
		   <&arduino_header ARDUINO_HEADER_R3_D5 GPIO_ACTIVE_LOW>,
		   <&arduino_header ARDUINO_HEADER_R3_D6 GPIO_ACTIVE_LOW>;

	sdhc_display: sdhc@1 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <1>;
		status = "okay";

		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};

		spi-max-frequency = <24000000>;
	};

	input_pointer: xpt2046@2 {
		compatible = "xptek,xpt2046";
		spi-max-frequency = <2000000>;
		reg = <0x2>;
		int-gpios = <&arduino_header ARDUINO_HEADER_R3_D3 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <240>;
		touchscreen-size-y = <320>;
		reads =  <5>;
		min-x = <200>;
		min-y = <200>;
		max-x = <3800>;
		max-y = <3800>;
	};
};
