# SPDX-License-Identifier: Apache-2.0

config DMA_TI_CC35XX
	bool "CC35XX MCU DMA driver"
	default y
	depends on DT_HAS_TI_CC35XX_DMA_ENABLED
	help
	  Enable DMA support on the CC35XX family of processors.
