# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config HWINFO_LPF3
	bool "CC23X0 and CC27XX hwinfo"
	default y
	depends on SOC_SERIES_CC23X0 || SOC_SERIES_CC27XX
	select HWINFO_HAS_DRIVER
	help
	  Enable CC23X0 and CC27XX hwinfo driver.
