# Copyright (c) 2023 Enphase Energy
# Copyright (c) 2025 Siemens Mobility GmbH
# SPDX-License-Identifier: Apache-2.0

config BUILD_OUTPUT_TI_K3_ROM_LOADABLE
	bool "Build image that can be loaded by the TI K3 ROM bootloader"
	default n
	depends on BUILD_OUTPUT_BIN
	help
		Selecting this output will generate a output binary in a form that the
		TI K3 ROM bootloader can load. Selecting this requires you to specify
		other Kconfig options to point to e.g. binary blobs.

config TI_K3_SYSFW_LOAD_ADDR
	hex
	depends on BUILD_OUTPUT_TI_K3_ROM_LOADABLE
	default 0x44000 if SOC_AM2434_R5F0_0_BOOT
	help
		Address where the SYSFW needs to be loaded to. This info will land in
		the X509 certificate of the TI K3 ROM loadable image.

config TI_K3_SYSFW_BLOB_PATH
	string "Path to SYSFW binary blob"
	depends on BUILD_OUTPUT_TI_K3_ROM_LOADABLE
	help
		Path to the unencrypted SYSFW binary blob that can be found inside the
		TI MCU+ SDK.

config TI_K3_SYSFW_CERT_PATH
	string "Path to certificate for SYSFW binary blob"
	depends on BUILD_OUTPUT_TI_K3_ROM_LOADABLE
	help
		Path to the X509 certificate for the SYSFW binary blob. Can be found
		inside the TI MCU+ SDK.

config TI_K3_BOARDCONFIG_PATH
	string "Path to binary boardconfig file"
	depends on BUILD_OUTPUT_TI_K3_ROM_LOADABLE
	help
		Path to the default boardconfig binary. Can be obtained from the TI MCU+
		SDK.

config TI_K3_PRIVATE_KEY_PATH
	string "Path to private key used to sign TI K3 ROM loadable image"
	depends on BUILD_OUTPUT_TI_K3_ROM_LOADABLE
	help
		Path to the private key with which the X509 certificate inside the TI K3
		ROM loadable image should be signed. Due to an errata in some SoCs it's
		recommended to take a degenerate key (instructions for generating one
		can be found inside the AM2434 TRM or the file can be obtained from the
		TI MCU+ SDK)

config SOC_SERIES_AM6X_A53
	select ARM64
	select CPU_CORTEX_A53
	select ARM_ARCH_TIMER if SYS_CLOCK_EXISTS

config SOC_SERIES_AM6X_M4
	select ARM
	select CPU_CORTEX_M4
	select CPU_HAS_FPU
	select CPU_CORTEX_M_HAS_SYSTICK
	select DYNAMIC_INTERRUPTS
	select CPU_CORTEX_M_HAS_DWT
	select OPENAMP_RSC_TABLE
	select UART_NS16550_ACCESS_WORD_ONLY
	select EXTERNAL_ADDRESS_TRANSLATION
	select MM_DRV
	select MM_TI_RAT
	select SOC_EARLY_INIT_HOOK

config SOC_SERIES_AM6X_R5
	select ARM
	select CPU_CORTEX_R5
	select CPU_HAS_ARM_MPU
	select VFP_SP_D16
	select ARM_CUSTOM_INTERRUPT_CONTROLLER
	select VIM
	select TI_DM_TIMER
	select UART_NS16550_ACCESS_WORD_ONLY if UART_NS16550
	select SOC_EARLY_INIT_HOOK

config SOC_J721E_MAIN_R5F0_0
	select OPENAMP_RSC_TABLE

config SOC_J722S_MAIN_R5F0_0
	select OPENAMP_RSC_TABLE

config SOC_J722S_MCU_R5F0_0
	select OPENAMP_RSC_TABLE

config SOC_PART_NUMBER
	default "AM2434" if SOC_AM2434_M4 || SOC_AM2434_R5F
	default "AM6232" if SOC_AM6232_A53
	default "AM6232" if SOC_AM6232_M4
	default "AM6234" if SOC_AM6234_A53
	default "AM6234" if SOC_AM6234_M4
	default "AM6254" if SOC_AM6254_M4 || SOC_AM6254_A53
	default "AM6442" if SOC_AM6442_M4
	default "AM6442" if SOC_AM6442_R5F0_0
	default "AM6442" if SOC_AM6442_R5F0_1
	default "AM6442" if SOC_AM6442_R5F1_0
	default "AM6442" if SOC_AM6442_R5F1_1
	default "J721e" if SOC_J721E_MAIN_R5F0_0
