# Copyright (c) 2024 Texas Instruments Incorporated
# Copyright (c) 2024 BayLibre, SAS
#
# SPDX-License-Identifier: Apache-2.0

config UART_CC27XX
	bool "TI SimpleLink Cc27xx UART driver"
	default y
	depends on DT_HAS_TI_CC27XX_UART_ENABLED
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select SERIAL_SUPPORT_ASYNC
	select PINCTRL
	help
	  Enable the TI SimpleLink CC27XX UART driver.

config UART_CC27XX_DMA_DRIVEN
	bool "DMA support for TI CC27XX UART devices"
	depends on UART_CC27XX
	depends on UART_ASYNC_API
	select DMA
	help
	  DMA driven mode offloads data transfer tasks from the CPU.
