/*
 * Copyright (c) 2025 Conclusive Engineering Sp. z o.o.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/pinctrl/ti-cc35xx-pinctrl.h>

&pinctrl {
	uart0_default: uart0_default {
		group1 {
			pinmux = <P17_UART0_TX>, <P18_UART0_RX>;
		};
	};
	uart1_default: uart1_default {
		group1 {
			pinmux = <P5_UART1_TX>, <P6_UART1_RX>;
		};
	};

	uart2_default: uart2_default {
		group1 {
			pinmux = <P16_UART2_TX>, <P19_UART2_RX>;
		};
	};

	spi0_slave: spi0_slave {
		group1 {
			pinmux = <P27_SPI0_CLK>,
				<(TI_CC35XX_PINCTRL_DIR_OUT | P28_SPI0_MISO)>,
				<(TI_CC35XX_PINCTRL_DIR_IN  | P29_SPI0_MOSI)>,
				<(TI_CC35XX_PINCTRL_DIR_IN  | P26_SPI0_CS1)>;
		};
	};
	spi0_master: spi0_master {
		group1 {
			pinmux = <P27_SPI0_CLK>,
				<(TI_CC35XX_PINCTRL_DIR_IN  | P28_SPI0_MISO)>,
				<(TI_CC35XX_PINCTRL_DIR_OUT | P29_SPI0_MOSI)>,
				<(TI_CC35XX_PINCTRL_DIR_OUT | P26_SPI0_CS1)>;
		};
	};

	spi1_slave: spi1_slave {
		group1 {
			pinmux = <P14_SPI1_CLK>,
				<(TI_CC35XX_PINCTRL_DIR_OUT | P15_SPI1_MISO)>,
				<(TI_CC35XX_PINCTRL_DIR_IN  | P13_SPI1_MOSI)>,
				<(TI_CC35XX_PINCTRL_DIR_IN  | P12_SPI1_CS1)>;
		};
	};
	spi1_master: spi1_master {
		group1 {
			pinmux = <P14_SPI1_CLK>,
				<(TI_CC35XX_PINCTRL_DIR_IN  | P15_SPI1_MISO)>,
				<(TI_CC35XX_PINCTRL_DIR_OUT | P13_SPI1_MOSI)>,
				<(TI_CC35XX_PINCTRL_DIR_OUT | P12_SPI1_CS1)>;
		};
	};

	adc0_default: adc0_default {
		group1 {
			pinmux = <P3_WIFI_AIN5>, <P4_WIFI_AIN4>;
		};
	};

	pwm3_default: lgpt1_chan0_default {
		group1 {
			pinmux = <P3_GPT1_0>;
		};
	};
	pwm4_default: lgpt1_chan1_default {
		group1 {
			pinmux = <P30_GPT1_1>;
		};
	};
	pwm5_default: lgpt1_chan2_default {
		group1 {
			pinmux = <P33_GPT1_2>;
		};
	};

	i2c1_default: i2c1_default {
		group1 {
			pinmux = <P10_I2C1_DATA>, <P11_I2C1_CLK>;
		};
	};

	i2s_default: i2s_default {
		group1 {
			pinmux = <(TI_CC35XX_PINCTRL_DIR_IN | P29_I2S_BCLK)>,
				 <(TI_CC35XX_PINCTRL_DIR_IN | P26_I2S_WCLK)>,
				 <(TI_CC35XX_PINCTRL_DIR_IN | P30_I2S_DATA0)>,
				 <(TI_CC35XX_PINCTRL_DIR_IN | P35_I2S_DATA1)>;
		};
	};

	can_default: can_default {
		group1 {
			pinmux = <P30_DCAN_TX>,
				 <P3_DCAN_RX>;
		};
	};

	sdhc_mmc_default: sdhc_mmc_default {
		group1 {
			pinmux = <(TI_CC35XX_PINCTRL_PULL_UP | P10_SDIO_MMC_DATA_3)>,
				 <(TI_CC35XX_PINCTRL_PULL_UP | P11_SDIO_MMC_DATA_2)>,
				 <(TI_CC35XX_PINCTRL_PULL_UP | P12_SDIO_MMC_DATA_1)>,
				 <(TI_CC35XX_PINCTRL_PULL_UP | P13_SDIO_MMC_DATA_0)>,
				 <(TI_CC35XX_PINCTRL_PULL_UP | P14_SDIO_MMC_CLK)>,
				 <(TI_CC35XX_PINCTRL_PULL_UP | P15_SDIO_MMC_CMD)>;
		};
	};
};
