/*
 * Copyright (c) 2025 Conclusive Engineering Sp. z o.o.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <ti/cc35xxe.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include "lp_em_cc35x1-pinctrl.dtsi"

/ {
	model = "TI CC35X1E LaunchPad";
	compatible = "ti,launchpad-cc35x1e";

	chosen {
		zephyr,sram = &dmem_ns;
		zephyr,flash = &extflash;
		zephyr,itcm = &itcm_ns;
		zephyr,dtcm = &dtcm_ns;
		zephyr,code-partition = &dmem_ns;
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
	};

	leds {
		compatible = "gpio-leds";
		green_led: green_led {
			gpios = <&gpios 30 GPIO_ACTIVE_HIGH>;
			label = "GREEN USER LED";
		};
		red_led: red_led {
			gpios = <&gpios 34 GPIO_ACTIVE_HIGH>;
			label = "RED USER LED";
		};
		blue_led: blue_led {
			gpios = <&gpios 35 GPIO_ACTIVE_HIGH>;
			label = "BLUE USER LED";
		};
	};

	buttons {
		compatible = "gpio-keys";
		user_switch_1: user_sw_1 {
			gpios = <&gpios 2 GPIO_ACTIVE_LOW>;
			label = "User SW1";
		};
		user_switch_2: user_sw_2{
			gpios = <&gpios 36 GPIO_ACTIVE_LOW>;
			label = "User SW2";
		};
	};

	aliases {
		led0 = &green_led;
		led1 = &red_led;
		led2 = &blue_led;
		sw0 = &user_switch_1;
		sw1 = &user_switch_2;
	};
};

&imem_ns {
	status = "okay";
};

&dmem_ns {
	status = "okay";
};

&itcm_ns {
	status = "okay";
};

&dtcm_ns {
	status = "okay";
};

&itcm {
	status = "okay";
};

&dtcm {
	status = "okay";
};

&dma {
	status = "okay";
};

&flash0 {
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		vendor_image_partition: partition@0 {
			label = "vendor-image";
			reg = <0x0 0x2fb000>;
		};
	};
};

&flash1 {
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		wifi_fw_slot1_partition: partition@68000 {
			label = "wifi-fw-1";
			reg = <0x68000 0x72000>;
		};

		wifi_fw_slot2_partition: partition@da000 {
			label = "wifi-fw-2";
			reg = <0xda000 0x2b000>;
		};
	};
};

&flash2 {
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* WiFi/BLE NVS: profiles, BLE security, connection policy */
		/* 8 sectors = 32 KB with wear-leveling */
		wifi_nvs_partition: partition@0 {
			label = "wifi-nvs";
			reg = <0x0 0x8000>;
		};

		storage_partition: partition@8000 {
			label = "storage";
			reg = <0x8000 0x23000>;
		};
	};
};

&uart0 {
	status = "okay";
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
	dmas = <&dma 2>, <&dma 3>;
	dma-names = "tx", "rx";
};

&uart1 {
	status = "okay";
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
	dmas = <&dma 0>, <&dma 1>;
	dma-names = "tx", "rx";
};
